.card {
  width: 250px;
  height: 280px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 30%);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-right: 45px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.card__img {
  width: 250px;
  height: 150px;
  background: rgba(169, 167, 167, 0.5);
}

.card__title {
  font-size: 20px;
  color: black;
  font-weight: 500;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 565px) {
  .card {
    margin-right: 0px;
  }
}
